
.clear{ position: relative !important; width: 1px !important; height: 1px !important; clear: both !important; float: none !important; }
.oculto, .hidden{ display: none; }
.left{ float: left; position: relative; }
.right{ float: right; position: relative; }

/* MSGBOX */
div#msgboxMask{ position: absolute; display: none; width: 100%; height: 100%; top: -15px; left: 0px; background-color: #888; display: none; z-index: 8; }
div#msgbox{ position: absolute; width: 451px; height: 222px; background-color: transparent;  z-index: 9; }
div#msgbox div#msgboxClose{ position: absolute; cursor: pointer; right: 30px; top: 0px; width: 90px; height: 28px; }
div#msgbox p{ position: absolute; top: 90px; left: 125px; width: 288px; text-align: center; font-size: 15px; font-weight: bold; color: #666; }

div#msgbox.msgerror{ background-image: url( ../images/msgbox/messagebox_red.png ); }
div#msgbox.msgwarning{ background-image: url( ../images/msgbox/messagebox_yellow.png ); }
div#msgbox.msgsuccess{ background-image: url( ../images/msgbox/messagebox_green.png ); }