section.content{ padding: 0px; margin: 0px; background-color: #efeeee; }
.left-side, header, .content-header{ display: none; }
.right-side{ margin: 0px; }

.img-header,
.img-footer,
.main_box{ margin: 0 auto; position: relative; width: 100%; max-width: 1200px; background: #fff; }
.main_box .row{ margin: 0px; }
.main_box h1, .survey-desc{ padding: 5px 15px 0 15px; color: #333c59; }
.main_box hr{ border: 2px solid #333c59; }
.survey-desc{ margin-bottom: 40px; }
.form-group,.main_box{ padding: 10px 15px; box-sizing: border-box; }

.form-group{ background-color: #efeeee; }
.box-header{ position: relative; width: 100%; height: 130px; background: #14243d; text-align: center; margin-bottom: 20px; }
.box-footer{ position: relative; width: 100%; height: 180px; background: #000; text-align: right; margin-top: 20px; padding: 0 20px; box-sizing: border-box; overflow: hidden; }
.box-footer .main_box{ background: #000; }
.box-header img, .box-footer img{ height: 130px; }

.img-header, .img-footer{ background-color: transparent; margin: 0 auto 20px auto; }
.img-footer{ margin: 20px auto 0 auto; }
.img-header img, .img-footer img{ width: 100%; height: auto; }
.submit_button{ position: relative; float: right; }

.iradio_minimal{ border-radius: 7px; }
.icheckbox_minimal, .iradio_minimal{ background-color: rgba( 255, 255, 255, 1); }

.fld_error{ border: 1px solid #f00; }
.error_msg{ color: #f00; }
.success_msg{ display: none; }

.box-header, .box-footer{ display: none !important; }