   {if $class != "login"}
            </section><!-- /.content -->
         </aside><!-- /.right-side -->
      </div><!-- ./wrapper -->
   {/if}
      <!-- add new calendar event modal -->

    </body>
</html>
