{include 'header.html'}

   <div class="row">
      <div class="col-md-12">
         <div class="box box-solid">
            <div class="box-header"><h3 class="box-title">Edição de Campanha</h3></div><!-- /.box-header -->
            <div class="box-body">
               <form action="{$tools->curPageUrl()}" method="post"  enctype="multipart/form-data">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="form-group">
                           <label for="ID DO CAMPO">Nome: </label><br>
                           <input type="text" name="NOME DO CAMPO" id="ID DO CAMPO" class="form-control" value="VALOR PADRAO">
                        </div>
                     </div>

                     <div class="col-md-12">
                        <div class="form-group">
                           <label for="ID DO CAMPO">Categoria: </label><br>
                           <select name="NOME DO CAMPO" id="ID DO CAMPO" class="form-control">
                              <option value="">SELECIONE UMA</option>
                           </select>
                        </div>
                     </div>

                     <div class="col-md-12">
                        <div class="form-group">
                           <label for="ID DO CAMPO">Descrição: </label><br>
                           <textarea name="NOME DO CAMPO" id="ID DO CAMPO" cols="30" rows="4" class="form-control">VALOR PADRAO</textarea>
                        </div>
                     </div>
                     
                     <div class="col-md-12">
                        <div class="form-group">
                           <label for="image">Imagem: </label><br>
                           <input type="file" name="image" id="image" accept="image/x-png,image/gif,image/jpeg">
                           {if !empty($objData->image)}
                              <br>Imagem Atual <br>
                              <img src="{$env->rootUrl}webroot/uploads/campaign/{$objData->image}" alt="Imagem" style="max-width: 100%; max-height: 250px;">
                           {/if}
                        </div>
                     </div>
                  </div>

                  <div class="row">
                     <div class="col-md-12">
                        <input type="submit" value="SALVAR" class="btn-save btn btn-success btn-lg">
                        <a href="{$env->baseUrl}campaign/" class="btn btn-warning btn-lg">VOLTAR</a>
                     </div>
                  </div> 
               </form>
            </div>
         </div><!-- /.box-body -->
      </div><!-- /.box -->
   </div>
   
{include 'footer.html'}
