{include 'header.html'}
   <div class="row">
      <div class="col-md-12">
         <h2 class="box-title left">Campanhas</h2>
         <a href="{$env->baseUrl}campaign/add/" class="right btn btn-lg btn-success">Adicionar Nova</a>
         <div class="clearfix"></div>
         <br>
      </div>
   </div>
   
   
   <div class="row">
      {foreach $objData->items as $item}
         <div class="col-md-6 col-lg-3">
            <div class="box box-solid">
               <div class="box-header"><h3 class="box-title">{$item->title}</h3></div><!-- /.box-header -->
               <div class="box-body">
                  <div class="look-img" style="background-image: url({$env->rootUrl}uploads/campaign/{$item->image});"> </div>
                  <div class="look-info">
                     Titulo: <strong>TITULO DA CAMPANHA</strong> <br>
                     Descrição: <strong> DESCRIÇÃO </strong> <br>
                     Link: <strong>{$item->permalink} </strong> <br>
                     Status: <strong>{if $item->active}Ativo{else}Inativo{/if} </strong><br>
                     <div class="buttons">
                        <a href="{$env->baseUrl}campaign/active/id/ID_DO_ITEM/" class="auto_button btn btn-sm btn-success">{if $item->active}Desativar{else}Ativar{/if}</a>
                        <a href="{$env->baseUrl}campaign/edit/id/ID_DO_ITEM/" class="btn btn-sm btn-primary">Editar</a>
                        <a href="{$env->baseUrl}campaign/remove/id/ID_DO_ITEM/" class="auto_button auto_confirm btn right btn-sm btn-danger">Deletar</a>
                     </div>
                  </div>
               </div><!-- /.box-body -->
            </div><!-- /.box -->
         </div>
      {/foreach}
   </div>

   <style>
      .look-img{ position: relative; width: 100%; height: 300px; background-size: contain; background-repeat: no-repeat; background-position: center center; }
      .look-info{ height: 230px; position: relative; }
      .look-info .buttons{ position: absolute; bottom: 0px; width: 100%; }
   </style>
{include 'footer.html'}
